.App {
    display: flex;
    justify-content: center;
}

.Counter {
    border: 3px solid aqua;
    padding: 30px;
    background-color: darkslategray;
    border-radius: 10px;
}

.InputCounter {
    border: 3px solid aqua;
    width: 175px;
    padding: 30px;
    text-align: center;
    background-color: darkslategray;
    color: chartreuse;
    border-radius: 10px;

}

.ResetButton {
    width: 120px;
    padding: 5px;
    background-color: darkseagreen;
    color: chartreuse;
    border-radius: 10px;
}

.IncButton {
    width: 120px;
    padding: 5px;
    background-color: darkseagreen;
    color: chartreuse;
    border-radius: 10px;


}
.DisableButton{
    border-radius: 10px;
    background-color: dimgray;
    width: 120px;
    padding: 5px;
    color: chartreuse;
}
